.bd-navbar {
  position: sticky;
  top: 0;
  z-index: 1071;
}

@media (min-width: 768px) {
	.bd-sidebar {
		position: sticky;
		top: 4em;
		height: calc(100vh - 4em);
	}
	.bd-links {
		overflow-y: auto;
	}
}